.rating {
  position: relative;
  z-index: 2;
  min-width: 30px;
  height: 20px;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating span:nth-child(1) {
  position: relative;
  z-index: 15;
  color: #000;
}

.rating span:nth-child(2) {
  position: absolute;
  z-index: 1;
  top: -15px;
  right: 2px;
  font-size: 44px;
  width: 2.1875rem;
  height: 1.875rem;
}

.green {
  color: rgba(94, 255, 0, 0.85);
}

.yellowGreen {
  color: rgba(187, 255, 0, 0.85);
}

.yellow {
  color: rgba(255, 238, 0, 0.85);
}

.orange {
  color: rgba(255, 187, 0, 0.85);
}

.red {
  color: rgba(255, 8, 0, 0.85);
}