.main {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  align-items: flex-start;
  padding-top: 1.875rem;
}

.body {
  display: grid;
  gap: 1.875rem;
  width: 100%;
  grid-template: minmax(550px, auto) / minmax(auto, 350px) 1fr;
}

.info {
  position: relative;
  z-index: 1;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: rgba(0, 0, 0, 0.55);
  color: #fff;
  border-radius: 1.25rem;
}

.row {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

@media screen and (max-width: 83.125rem) {
  .main {
    padding-top: calc(20px + calc(50 - 20) * ((100vw - 320px) / (1330 - 320)));
  }
  .body {
    gap: calc(15px + calc(50 - 15) * ((100vw - 320px) / (1330 - 320)));
  }
}


@media screen and (max-width: 64rem) {
  .body {
    display: grid;
    gap: 1.25rem;
    grid-template: auto / 1fr;
  }
  .image {
    display: none;
  }
}