.wrapp_btn {
  display: flex;
  justify-content: end;
}

.button {
  cursor: pointer;
  display: inline-block;
  padding: .3125rem .9375rem;
  color: #fff;
  border-radius: .3125rem;
  background: var(--grey);
  font-size: 1rem;
  font-weight: 600;
  transition: .3s;
}

.button:hover {
  background: rgb(51, 96, 221);
}