.info {
  position: relative;
  z-index: 1;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  border-radius: 1.25rem;
  flex: 1 1 auto;
}

.info h3 {
  line-height: 1.1;
}

.bg {
  background-color: rgba(0, 0, 0, 0.55);
}

.row {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  gap: .625rem;
  color: rgba(255, 255, 255, 0.65);
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: .625rem;
  font-size: 1.125rem;
}

.genres li {
  padding: .3125rem .625rem;
  border-radius: .3125rem;
  color: #46c07d;
  background: rgb(255, 255, 255, .15);
}

.genres li::first-letter{
  text-transform: uppercase;
}

.tagline {
  color: var(--grey);
}

.overview {
  flex: 1 1 auto;
}