.info {
  position: relative;
  z-index: 1;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  border-radius: 1.25rem;
  flex: 1 1 auto;
}

.info h3 {
  line-height: 1.1;
}

.bg {
  border: 1px solid rgba(255, 255, 255, .2);
  background-color: rgba(0, 0, 0, 0.541);
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.countries {
  font-size: .875rem;
  display: flex;
  flex-wrap: wrap;
  gap: .625rem;
  color: rgba(255, 255, 255, 0.65);
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: .625rem;
  font-size: 1.125rem;
}

.genres li {
  font-size: .875rem;
  padding: .3125rem .625rem;
  border-radius: .3125rem;
  color: #46c07d;
  background: rgb(255, 255, 255, .15);
  border: 1px solid rgba(255, 255, 255, .2);
}

.genres li::first-letter{
  text-transform: uppercase;
}

.tagline {
  font-size: 1.25rem;
  color: var(--grey);
}

.overview {
  flex: 1 1 auto;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.imdb {
  font-size: 35px;
  color: rgb(245,197,24);
  display: flex;
  align-items: center;
  gap: .3125rem;
  transition: .3s;
}

.imdb:hover {
  color: rgb(245, 230, 24);
}

.homepage {
  font-weight: 700;
  font-size: 25px;
  color: rgba(255, 255, 255, .65);
  background: linear-gradient(135deg, rgba(255,255,255, .1) 0%, rgba(255,255,255, .2) 100%);
  border: 1px solid rgba(255, 255, 255, .2);
  padding: 3px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
}

.homepage:hover {
  border: 1px solid rgba(255, 255, 255, .4);
  color: rgba(255, 255, 255, 1);
}