.info {
  position: relative;
  z-index: 1;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  border-radius: 1.25rem;
  flex: 1 1 auto;
}

.info h3 {
  line-height: 1.1;
}

.bg {
  background-color: rgba(0, 0, 0, 0.55);
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  gap: .625rem;
  color: rgba(255, 255, 255, 0.65);
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: .625rem;
  font-size: 1.125rem;
}

.genres li {
  padding: .3125rem .625rem;
  border-radius: .3125rem;
  color: #46c07d;
  background: rgb(255, 255, 255, .15);
}

.genres li::first-letter{
  text-transform: uppercase;
}

.tagline {
  color: var(--grey);
}

.overview {
  flex: 1 1 auto;
}

.imdb {
  color: var(--grey);
  display: flex;
  align-items: center;
  gap: .3125rem;
  transition: .3s;
}

.imdb span {
  letter-spacing: -0.0625rem;
  font-weight: 900;
  color: #000;
  background: rgb(245,197,24);
  padding: 1px 3px;
  border-radius: 3px;
  transition: .3s;
}

.imdb:hover {
  color: #fff;
}

.imdb:hover span {
  box-shadow: 0 0 7px rgb(245,197,24);
}

.homepage {
  font-weight: 700;
  letter-spacing: -0.03rem;
  color: rgba(255, 255, 255, .65);
  background: linear-gradient(135deg, rgba(255,255,255, .1) 0%, rgba(255,255,255, .2) 100%);
  border: 1px solid rgba(255, 255, 255, .2);
  padding: 2px 4px;
  border-radius: 3px;
  transition: .3s;
}

.homepage:hover {
  text-shadow: 0 0 7px rgba(255, 255, 255, .5);
  border: 1px solid rgba(255, 255, 255, .3);
}