.error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.error p {
  font-weight: 500;
  line-height: 1.7;
  font-size: 1.125rem;
  letter-spacing: 3px;
  text-shadow: 0 0 5px #fff;
}

