/* buttons novigation */
.swiper-button-prev, .swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.70);
  transform: translateY(-15px);
  transition: .3s;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  background: rgba(255, 255, 255, 0.95);
}

.swiper-button-prev::after, .swiper-button-next::after {
  color: #000;
  font-size: 22px;
  font-weight: 900 !important;
}

.swiper-button-disabled {
  pointer-events: all !important;
}