.title {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin: 1.25rem 0;
  font-size: 1.125rem;
  line-height: 100%;
  text-transform: uppercase;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.625rem;
}

.icon svg {
  transition: .3s;
}