.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14.0625rem, 1fr));
  grid-column-gap: .9375rem;
  grid-row-gap: 1.25rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .625rem;
  text-decoration: none;
  text-align: center;
  max-width: 280px;
}

.poster {
  position: relative;
  height: 20.625rem;
  border-radius: .9375rem;
  overflow: hidden;
  transition: .3s ease;
}

.card:hover .poster {
  box-shadow: 0 0 .9375rem 0 #fff;
}

.card:hover .poster img {
  transform: scale(1.05);
}

.poster img {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s ease-out;
  object-position: top center;
}

.list p {
  position: relative;
  display: inline;
  color: #fff;
}

.rating {
  position: absolute;
  right: .625rem;
  top: .625rem;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .card {
    max-width: unset;
  }
}

/* swiper  */

.swiper {
  padding: .9375rem;
}

.slide {
  width: 14.75rem;
}

.slide p {
  color: #fff;
}