.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.8125rem, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 20px;
}

.card {
  position: relative;
  display: grid;
  grid-template: 320px auto / 1fr;
  gap: .625rem;
  text-decoration: none;
  text-align: center;
}

.list p {
  position: relative;
  display: inline;
  color: #fff;
}

.rating {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 3;
}

@media screen and (max-width: 48rem) {
  .card {
    max-width: unset;
  }
}

/* swiper  */

.swiper {
  padding: 15px;
}

.slide {
  width: 236px;
}

.slide p {
  color: #fff;
}