.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.875rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
  text-align: center;
}

.poster {
  position: relative;
  height: 370px;
  border-radius: .9375rem;
  overflow: hidden;
  transition: .3s ease;
}

.card:hover .poster {
  box-shadow: 0 0 18px 0 #fff;
}

.card:hover .poster img {
  transform: scale(1.05);
}

.poster img {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s ease-out;
}

.list p {
  position: relative;
  display: inline;
  color: #fff;
}

/* swiper  */

.swiper {
  padding: 20px;
}

.slide {
  width: 236px;
}

.slide p {
  color: #fff;
}
