.btn {
  cursor: pointer;
  background: transparent;
  border: none;
  display: flex;
  gap: .9375rem;
  font-size: 1.375rem;
  font-weight: 600;
  color: #fff;
}

.btn span {
  transition: .2s;
}

.name {
  font-weight: 600;
  font-size: 20px;
}

.btn:hover .arrow_left {
  transform: translateX(-5px);
}

.btn:hover .arrow_right {
  transform: translateX(5px);
}