.card {
  user-select: none;
  position: relative;
  display: grid;
  grid-template: 320px auto / 1fr;
  gap: .625rem;
  text-decoration: none;
  text-align: center;
}

.card a div {
  height: 100%;
}

.rating {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 3;
}

.title {
  color: #fff;
  line-height: 1.1;
}