.card {
  position: relative;
  display: grid;
  grid-template: 320px auto / 1fr;
  gap: .625rem;
  text-decoration: none;
  text-align: center;
  max-width: 29.0625rem;
}

.rating {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 3;
}

.title {
  color: #fff;
  line-height: 1.1;
}