.main {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  align-items: flex-start;
  padding-top: 3.125rem;
}

.body {
  display: grid;
  gap: 3.125rem;
  width: 100%;
  grid-template: minmax(550px, auto) / minmax(auto, 350px) 1fr;
}

.info {
  position: relative;
  z-index: 1;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: rgba(0, 0, 0, 0.55);
  color: #fff;
  border-radius: 1.25rem;
}

.row {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}

.country {
  display: flex;
  flex-wrap: wrap;
  gap: .9375rem;
  color: rgba(255, 255, 255, 0.65);
}

.genre {
  display: flex;
  flex-wrap: wrap;
  gap: .9375rem;
  font-size: 1.125rem;
}

.genre li {
  color: #41d383;
}

.genre li::first-letter{
  text-transform: uppercase;
}

.backdrop {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  opacity: .2;
}

.image {
  position: relative;
  height: 100%;
  border-radius: 1.25rem;
  overflow: hidden;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.overview {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.6;
}

.seasons strong {
  font-size: 1.125rem;
}

@media screen and (max-width: 83.125rem) {
  .main {
    padding-top: calc(20px + calc(50 - 20) * ((100vw - 320px) / (1330 - 320)));
  }
  .body {
    gap: calc(15px + calc(50 - 15) * ((100vw - 320px) / (1330 - 320)));
  }
}


@media screen and (max-width: 768px) {
  .body {
    display: grid;
    gap: 1.25rem;
    grid-template: minmax(550px, auto) auto / 1fr;
  }
}