.navigation {
  padding: 1.875rem 0 0 0;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}

.navigation a {
  text-decoration: none;
}

.ban {
  opacity: .3;
  pointer-events: none;
}