.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  gap: .9375rem;
  flex: 1 1 auto;
  padding: 0 0 1.25rem 0;
}

.box a {
  margin: 0 0 0 1.25rem;
}

.home .swiper {
  margin-top: 1.25rem;
  height: 31.25rem;
}

.slide {
  position: relative;
  display: grid;
  grid-template: minmax(300px, 1fr) / minmax(auto, 250px) 1fr;
  padding: 2.5rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

@media screen and (max-width: 64rem) {
  .slide {
    grid-template: 0 1fr / 1fr;
  }
  .slide {
    padding: 1.25rem;
  }
}

@media screen and (max-width: 26.5625rem) {
  .box p {
    display: none;
  }
}