.home h3 {
  line-height: 1.2;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  gap: .9375rem;
  flex: 1 1 auto;
  padding: 0 0 1.25rem 0;
  margin: -0.625rem 0 0 0;
}

.box a {
  margin: 0 0 0 1.25rem;
}