.home .swiper {
  margin-top: 1.25rem;
  height: 31.25rem;
}

.info img {
  border: 10px solid #fff;
}

.slide {
  position: relative;
  display: grid;
  grid-template: minmax(300px, 1fr) / minmax(auto, 250px) 1fr;
  padding: 2.5rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding: 1.875rem;
}

.row {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.block {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: .9375rem;
  flex: 1 1 auto;
}

.info h2 {
  line-height: 1;
}

@media screen and (max-width: 64rem) {
  .slide {
    grid-template: 0 1fr / 1fr;
  }
  .slide {
    padding: 1.25rem;
  }
  .info {
    padding: 1.25rem 0;
  }
}

@media screen and (max-width: 26.5625rem) {
  .home .swiper {
    height: 25rem;
  }
  .info p {
    display: none;
  }
}