.header {
  position: relative;
  z-index: 50;
}

.main {
  padding: 2.5rem 0 1.25rem 0;
  min-height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5625rem;
}

.list a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--grey);
  transition: .3s;
}

.list a:hover {
  color: #fff;
}

.list :global(a.active) {
  color: #fff;
}

@media screen and (max-width: 83.125rem) {
  .list a {
    font-size: calc(16px + calc(20 - 16) * ((100vw - 320px) / (1330 - 320)));
  }
}

@media screen and (max-width: 48rem) {
  .main {
    flex-direction: column;
    justify-content: center;
  }
}