.wrapp {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  height: 2.1875rem;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  max-width: 15.625rem;
  border-radius: 25px;
  padding: 0 .9375rem;
}

.input {
  width: 100%;
  height: 100%;
  color: #fff;
  border: none;
  background-color: transparent;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.btn {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  padding: .1875rem 0 0 0;
  transition: .3s;
}

.btn:hover {
  color: #fff;
}

.input:focus {
  outline: none;
}

@media screen and (max-width: 48rem) {
  .wrapp {
    max-width: 31.25rem;
  }
}