.arrow {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-2.5rem);
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.5rem;
  color: rgb(255, 255, 255, .45);
  background-color: transparent;
  border-radius: 50%;
  border: none;
  transition: .3s;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
.arrow:hover {
  color: rgb(255, 255, 255, .85);
}