.genres {
  display: flex;
  flex-wrap: wrap;
  gap: .625rem;
  font-size: 1.125rem;
}

.genres li {
  padding: .3125rem .625rem;
  border-radius: .3125rem;
  color: #46c07d;
  background: rgb(255, 255, 255, .15);
}

.genres li::first-letter{
  text-transform: uppercase;
}