::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #19161f;
}

::-webkit-scrollbar-thumb {
  background-color: #757279;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #646268;
}

::-webkit-scrollbar-thumb:active {
  background-color: #5a575e;
}

:root {
  --container: 83.125rem;
  --bg: #19161f;
  --grey: #757279;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* outline: unset; */
}

html, body, #root, .app {
  min-height: 100%;
}

body {
  position: relative;
  background: var(--bg);
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 .9375rem;
}

main {
  padding-bottom: 3.125rem;
}

h2 {
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.625rem;
  color: #fff;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

@media screen and (max-width: 83.125rem) {
  h2 {
    font-size: calc(24px + calc(32 - 24) * ((100vw - 320px) / (1330 - 320)));
  }
}
