@import url('../../styles/scrollbar.css');

:root {
  --container: 83.125rem;
  --bg: #19161f;
  --grey: #757279;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body, #root, .app {
  min-height: 100%;
}

body {
  position: relative;
  background: var(--bg);
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 .9375rem;
}

main {
  padding-bottom: 3.125rem;
}

h2 {
  display: inline-block;
  font-weight: 800;
  font-size: 1.5625rem;
  line-height: 5.125rem;
  color: #fff;
}

h3 {
  display: inline-block;
  font-weight: 600;
  font-size: 1.4375rem;
  line-height: 2.625rem;
  color: #fff;
}

p {
  word-spacing: 2px;
  line-height: 1.5;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.list-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(12.8125rem, 1fr)); */
  grid-template-columns: repeat(auto-fill, 15.5rem);
  justify-content: center;
  grid-column-gap: .9375rem;
  grid-row-gap: 1.25rem;
}

.list-flex {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

@media screen and (max-width: 83.125rem) {
  h2 {
    font-size: calc(20px + calc(25 - 20) * ((100vw - 320px) / (1330 - 320)));
    line-height: calc(42px + calc(82 - 42) * ((100vw - 320px) / (1330 - 320)));
  }
  h3 {
    font-size: calc(18px + calc(23 - 18) * ((100vw - 320px) / (1330 - 320)));
    line-height: calc(38px + calc(62 - 38) * ((100vw - 320px) / (1330 - 320)));
  }
}

@media screen and (max-width: 53.125rem) {
  .list-grid {
    grid-template-columns: repeat(auto-fit, minmax(12.8125rem, 1fr));
  }
}