::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #19161f;
}

::-webkit-scrollbar-thumb {
  background-color: #757279;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #646268;
}

::-webkit-scrollbar-thumb:active {
  background-color: #5a575e;
}

:root {
  --container: 83.125rem;
  --bg: #19161f;
  --grey: #757279;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* outline: unset; */
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body, #root, .app {
  min-height: 100%;
}

body {
  position: relative;
  background: var(--bg);
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 .9375rem;
}

main {
  padding-bottom: 3.125rem;
}

h2 {
  display: inline-block;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 5.125rem;
  color: #fff;
}

h3 {
  display: inline-block;
  font-weight: 600;
  font-size: 25px;
  line-height: 2.625rem;
  color: #fff;
}

p {
  word-spacing: 2px;
  line-height: 1.5;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 83.125rem) {
  h2 {
    font-size: calc(20px + calc(25 - 20) * ((100vw - 320px) / (1330 - 320)));
    line-height: calc(42px + calc(82 - 42) * ((100vw - 320px) / (1330 - 320)));
  }
}

/* home slider */
.home .swiper-slide-next h3, 
.home .swiper-slide-next h4, 
.home .swiper-slide-next p,
.home .swiper-slide-next button {
  opacity: .065;
}