.list {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: .75rem;
  grid-row-gap: 1.25rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: .625rem;
  text-align: center;
}

.poster {
  position: relative;
  width: 15.625rem;
  height: 23.125rem;
}

.poster img {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}