.poster {
  position: relative;
  overflow: hidden;
  border-radius: 1.25rem;
  transition: .3s;
}

.poster img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s;
}

.poster.hover:hover img {
  transform: scale(1.1);
}

.poster.hover:hover {
  box-shadow: 0 0 15px #fff;
}